1- Write a code to reverse a string

In [ ]:
a="Rahul loves to play cricket."
a[::-1]

'.tekcirc yalp ot sevol luhaR'

2- Write a code to count the number of vowels in a string

In [ ]:
a="Rahul loves to play Cricket."
l=["a","e","i","o","u"]
count=0
for char in a:
  if char in l:
    count+=1
print(count)

8

3-Write a code to check if a given string is palindrome or not.

In [ ]:
a="level"
if a==a[::-1]:
  print("Palindrome")

Palindrome

Q4. Write a code to check if two given strings are anagrams of each other.

In [ ]:
a="listen"
b="silent"

if sorted(a)==sorted(b):
  print("Anagrams")

Anagrams

Q5. Write a code to find all the occurance of a given substring within another string

In [ ]:
def find_all_occurrences(main_string, substring):
    occurrences = []
    start = 0

    while True:
        start = main_string.find(substring, start)
        if start == -1:
            break
        occurrences.append(start)
        start += 1  # Move past the last found index

    return occurrences


main_string = "This is a test. This test is only a test."
substring = "test"
positions = find_all_occurrences(main_string, substring)

print(f"Occurrences of '{substring}' found at positions: {positions}")

Occurrences of 'test' found at positions: [10, 21, 36]

Q6. Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
def compress_string(s):
    if not s:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1


    compressed.append(s[-1] + str(count))

    compressed_string = ''.join(compressed)
    return compressed_string if len(compressed_string) < len(s) else s

input_string = "aaabbcccdddeeffffg"
compressed_string= compress_string(input_string)

print(f"Compressed string: {compressed_string}")

Compressed string: a3b2c3d3e2f4g1

Q7. Write a code to determine if a string has all unique characters.

In [ ]:
def has_unique_characters(s):

    char_set = set()

    for char in s:
        if char in char_set:
            return False
        char_set.add(char)

    return True


input_string = "abcdefg"
result=has_unique_characters(input_string)

print(f"Does the string '{input_string}' have all unique characters? {result}")

Does the string 'abcdefg' have all unique characters? True

Q8. Write a code to convert a string into uppercase and lowercase.

In [ ]:
a="Hello World"
a.upper()

'HELLO WORLD'

In [ ]:
a.lower()

'hello world'

Q9. Write a code to count the number of words in a string.

In [ ]:
def count_words(s):
    words = s.split()
    return len(words)
input_string = "Python is a programming launguage used to write code."
s=count_words(input_string)

print(f"The number of words in the string is: {s}")

The number of words in the string is: 9

Q10. Write a code to concatenate two strings without using + operator

In [ ]:
a="Hello"
b="World"
print(f"{a} {b}")

Hello World

Q11. Write a code to remove all occurances of a specific element from a list.

In [ ]:
def remove_element(list, element):
    new_list = []
    for i in list:
        if i != element:
            new_list.append(i)
    return new_list
remove_element(list=[1, 2, 3, 4, 5, 5, 5], element=5,)

[1, 2, 3, 4]

Q12. Implement a code to find the second largest number in a given list of integers.

In [ ]:
def second_largest(lst):
    if len(lst) < 2:
        return None
    first = max(lst)
    lst = [x for x in lst if x != first]
    return max(lst) if lst else None
numbers = [10, 50, 4, 45, 89, 99]
print(second_largest(numbers))

89

Q13. Create a code to count the occurence of each element in a list and return a dictionary with elements as keys and counts as values.

In [ ]:
def count_elements(lst):
    element_counts = {}
    for element in lst:
        if element in element_counts:
            element_counts[element] += 1
        else:
            element_counts[element] = 1
    return element_counts

sample_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
print(count_elements(sample_list))

{1: 1, 2: 2, 3: 3, 4: 4}

Q14. Write a code to reverse a list in-place without using any built in reverse function.

In [ ]:
def reverse_list(lst):
    left = 0
    right = len(lst) - 1

    while left < right:
        # Swap elements at left and right indices
        lst[left], lst[right] = lst[right], lst[left]

        # Move towards the center
        left += 1
        right -= 1


sample_list = [1, 2, 3, 4, 5]
reverse_list(sample_list)
print(sample_list)

[5, 4, 3, 2, 1]

Q15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def remove_duplicates(lst):
    seen = set()
    result = []

    for element in lst:
        if element not in seen:
            seen.add(element)
            result.append(element)

    return result


sample_list = [1, 2, 2, 3, 4, 3, 5, 4]
print(remove_duplicates(sample_list))

[1, 2, 3, 4, 5]

Q16. Create a code to check if a given list is sorted (either in descending or ascending order) or not.

In [ ]:
def is_sorted(lst):
    ascending = True
    descending = True

    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:
            ascending = False
        if lst[i] < lst[i + 1]:
            descending = False

    return ascending or descending


sample_list1 = [1, 2, 3, 4, 5]
sample_list2 = [5, 4, 3, 2, 1]
sample_list3 = [1, 3, 2, 4, 5]

print(is_sorted(sample_list1))
print(is_sorted(sample_list2))
print(is_sorted(sample_list3))

True
True
False

Q17. Write a code to merge two sorted lists into a single sorted lists.

In [ ]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0

    # Traverse both lists and append the smaller element to the merged list
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # Append remaining elements from list1, if any
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    # Append remaining elements from list2, if any
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list


list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
print(merge_sorted_lists(list1, list2))

[1, 2, 3, 4, 5, 6, 7, 8]

Q18. Implement a code to find the intersection of two given lists

In [ ]:
def intersection(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return list(set1 & set2)


list1 = ["cooking","hiking","reading"]
list2 = ["cooking","photography","travelling"]
print(intersection(list1, list2))

['cooking']

Q19. Implement a code to find the union of two lists without any duplicates

In [ ]:
def union(list1, list2):
    return list(set(list1) | set(list2))


list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
print(union(list1, list2))

[1, 2, 3, 4, 5, 6, 7, 8]

Q20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
import random

def shuffle_list(lst):
    n = len(lst)
    for i in range(n - 1, 0, -1):
        # Generate a random index from 0 to i
        j = random.randint(0, i)
        # Swap elements at i and j
        lst[i], lst[j] = lst[j], lst[i]
sample_list = [1, 2, 3, 4, 5]
shuffle_list(sample_list)
print(sample_list)

[1, 4, 2, 5, 3]

Q21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [ ]:
def common_elements(tuple1, tuple2):
    set1 = set(tuple1)
    set2 = set(tuple2)
    common_set = set1 & set2  # Find the intersection
    return tuple(common_set)   # Convert the set back to a tuple


tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)
print(result)

(4, 5)

Q22. Create a code that prompts the user to enter two sets of integers seperated by commas.Then print the intersection of these two sets.

In [ ]:
set1 = set(map(int, input("Enter the first set of integers, separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set of integers, separated by commas: ").split(',')))


intersection = set1.intersection(set2)
print("The intersection of the two sets is:", intersection)

Enter the first set of integers, separated by commas: 1,2,3,4
Enter the second set of integers, separated by commas: 2,3,4,5,6
The intersection of the two sets is: {2, 3, 4}

Q23. Write a code to concatenate two tuples.The function should take two tuples as input and return a new tuple containing elements from both input tuples

In [ ]:
def concatenate_tuples(tuple1, tuple2):

    result = tuple1 + tuple2
    return result


tuple1 = (1, 2, 4)
tuple2 = (4, 5, 8)

concatenated_tuple = concatenate_tuples(tuple1, tuple2)
print("Concatenated Tuple:", concatenated_tuple)

Concatenated Tuple: (1, 2, 4, 4, 5, 8)

Q24. Develop a code that prompts the user to input two sets of strings. Then print the elements that are present in the first set but not in the second set

In [ ]:
set1 = set(input("Enter elements of the first set (separated by spaces): ").split())
set2 = set(input("Enter elements of the second set (separated by spaces): ").split())


difference = set1 - set2


print("Elements present in the first set but not in the second set:", difference)

Enter elements of the first set (separated by spaces): 5 6 4
Enter elements of the second set (separated by spaces): 2 3 8
Elements present in the first set but not in the second set: {'4', '6', '5'}

Q25. Create a code that takes a tuple and two integers as input.The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [1]:
def slice_tuple(tup, start, end):
    """
    Returns a new tuple containing elements from the original tuple
    within the specified range of indices.
    """

    return tup[start:end]


tup_input = input("Enter the elements of the tuple separated by spaces: ")

tup = tuple(tup_input.split())


start = int(input("Enter the start index: "))
end = int(input("Enter the end index: "))


result = slice_tuple(tup, start, end)
print("New tuple with specified range:", result)

Enter the elements of the tuple separated by spaces: red blue green
Enter the start index: 0
Enter the end index: 2
New tuple with specified range: ('red', 'blue')

Q26. Write a code that prompts the user to input two sets of characters.Then print the union of these two sets

In [4]:
set1 = set(input("Enter characters for the first set(no space needed)"))
set2 = set(input("enter characters for the second set(no space neended)"))

union_set = set1 | set2

print("union of two sets:",union_set)

Enter characters for the first set(no space needed)12345
enter characters for the second set(no space neended)24568
union of two sets: {'4', '2', '8', '1', '3', '5', '6'}

Q27. Develop a code that takes the tuple of integers as input. The function should return the maximum and minimum values from the tuple using unpacking

In [9]:
def min_max(tup):
  """
  Returns a tuple containing the minimum and maximum values from the input tuple.
  """
  min_value = min(tup)
  max_value = max(tup)
  return min_value, max_value

tup_input = input("Enter the elements of the tuple separated by spaces: ")
tup = tuple(map(int, tup_input.split()))

min_value,max_value = min_max(tup)

print("Minimum value:", min_value)
print("Maximum value:", max_value)

Enter the elements of the tuple separated by spaces: 12 15 36 55 42
Minimum value: 12
Maximum value: 55

Q28. Create a code that defines two sets of integers. Then print the union,intersection and the difference of these two sets

In [10]:
set1= {1,2,3,4,5,6}
set2= {4,5,6,7,8,9}

union = set1 | set2
intersection = set1 & set2
difference = set1 - set2

print("Union:", union)
print("Intersection:", intersection)
print("Difference:", difference)

Union: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection: {4, 5, 6}
Difference: {1, 2, 3}

Q29. Write a code that takes a tuple and a element as input. The function should return the count of occcurence of the given element in the tuple

In [17]:
def count_occurences(tup, element):
  """
  returns the count of occurences of the given element in the tuple.
  """
  return tup.count(element)

tup_input = input("enter the element of the tuple")
tup= tuple(tup_input.split())

element = input("enter the element to count")

count = count_occurences(tup, element)
print(f"The element '{element}' occurs{count} time(s) in the tuple")

enter the element of the tuplered blacl red green red blue
enter the element to countred
The element 'red' occurs3 time(s) in the tuple

Q30. Develop a code that prompts a user to input two sets of string. Then print the symmetric difference of these two sets

In [2]:
set1 = set(input("enter elements of first set (seperated by spaces):").split())
set2 = set(input("enter elements of second set (seperated by spaces):").split())

symmetric_difference = set1 ^ set2

print("symmetric difference of two sets:",symmetric_difference)

enter elements of first set (seperated by spaces):red black blue green
enter elements of second set (seperated by spaces):black green orange
symmetric difference of two sets: {'red', 'orange', 'blue'}

Q31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

In [3]:
def word_frequencies(word_list):
    """
    Returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.
    """
    frequency_dict = {}
    for word in word_list:
        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1
    return frequency_dict

words_input = input("Enter a list of words separated by spaces: ")
word_list = words_input.split()

frequencies = word_frequencies(word_list)
print("Word frequencies:", frequencies)

Enter a list of words separated by spaces: red black red green red blue black
Word frequencies: {'red': 3, 'black': 2, 'green': 1, 'blue': 1}

Q32. Write a code that takes two dictionaries as input and merges them into a single dictionary .If there are common keys , the values should be added together

In [7]:
def merge_dictionaries(dict1, dict2):
    """
    Merges two dictionaries by adding values for common keys.
    """
    merged_dict=dict1.copy()
    for key,value in dict2.items():
        if key in merged_dict:
          merged_dict[key] +=value
        else:
          merged_dict[key]=value
    return merged_dict

dict1= {"a":1,"b":2,"c":3}
dict2= {"b":4,"c":5,"d":6}

merged_dict=merge_dictionaries(dict1,dict2)
print("merged dictionary:",merged_dict)

merged dictionary: {'a': 1, 'b': 6, 'c': 8, 'd': 6}

Q33. Write a code to access a value in a nested dictionary.The function should take the dictionary and list of keys as input and return the corresponding value. If any of the keys do not exist in the dictionary,the function should return none.

In [10]:
def get_nested_value(nested_dict, keys):
    """
    Returns the value from a nested dictionary using a list of keys.
    If any key is missing, returns None.
    """
    current = nested_dict
    for key in keys:
        if key in current:
            current = current[key]
        else:
            return None
    return current


nested_dict = {
    'a': {
        'b': {
            'c': 10
        }
    }
}


keys = input("Enter the keys separated by spaces: ").split()


value = get_nested_value(nested_dict, keys)
print("Value:", value)

Enter the keys separated by spaces: a b c
Value: 10

Q34. Write a code that takes the dictionary as input and returns a sorted version of it based on the values.You can choose whether to sort in ascending or descending order

In [12]:
def sort_dict_by_values(input_dict, ascending=True):
    """
    Returns a dictionary sorted by values.

    Parameters:
    - input_dict: The dictionary to be sorted.
    - ascending: Boolean indicating sort order (True for ascending, False for descending).
    """

    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict


dict_input = input("Enter the dictionary in the format key1:value1 key2:value2 ... : ")

input_dict = dict(item.split(":") for item in dict_input.split())

input_dict = {k: int(v) for k, v in input_dict.items()}


order = input("Enter 'asc' for ascending or 'desc' for descending order: ").lower()
ascending = order == 'asc'


sorted_dict = sort_dict_by_values(input_dict, ascending)
print("Sorted dictionary:", sorted_dict)

Enter the dictionary in the format key1:value1 key2:value2 ... : a:1 b:2 c:3
Enter 'asc' for ascending or 'desc' for descending order: desc
Sorted dictionary: {'c': 3, 'b': 2, 'a': 1}

Q35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary

In [13]:
def invert_dictionary(input_dict):
    """
    Returns an inverted dictionary with keys and values swapped.
    If multiple keys have the same value, they are stored as a list in the inverted dictionary.
    """
    inverted_dict = {}
    for key, value in input_dict.items():
        if value in inverted_dict:

            inverted_dict[value].append(key)
        else:

            inverted_dict[value] = [key]
    return inverted_dict


input_dict = {
    'a': 1,
    'b': 2,
    'c': 1,
    'd': 3,
    'e': 2
}


inverted_dict = invert_dictionary(input_dict)
print("Inverted dictionary:", inverted_dict)

Inverted dictionary: {1: ['a', 'c'], 2: ['b', 'e'], 3: ['d']}